[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = {extras = ["vagrant"],version = "*"}
python-vagrant = "*"

[packages]
molecule = "*"
docker-py = "*"
ansible = ">=2.9.2"

[requires]
python_version = "2.7"
